name: Clojure CI

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install dependencies
        run: lein deps
      - name: Run tests
        run: lein test
        env:
          PORT: 3000
          STRAVA_DOMAIN: https://www.strava.com
          STRAVA_API_URL: /api/v3
          STRAVA_CODE: code
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}
          STRAVA_USER_ID: ${{ secrets.STRAVA_USER_ID }}
